version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # Management UI (guest/guest)
    volumes:
      - ./:/var/lib/rabbitmq
